/*----------------------------------------*/
/*  03. Introduction CSS Start
/*----------------------------------------*/

.intro-area{
    position: relative;
    height: 813px;
    background-position: top center;
    @media #{$lg} { 
        height: 750px;
    }
    @media #{$md} { 
        height: 700px;
    }
    @media #{$xs} { 
        height: 550px;
    }
    @media #{$sm} { 
        height: 630px;
        padding-top: 85px;
    }
    & .intro-text{
        & p{
            padding: 20px 0 30px 0;
            & span.text-digi{
                font-weight: bold;
            }
        }
        & h2{
            font-size: 60px;
            @media #{$xs} { 
                font-size: 40px;
            }
        }
    }
}

/* --- Home page 2
-----------------------------*/
.intro-area-2{
    height: auto;
    & .intro-text-area{
        position: relative;
        margin-top: 90px;
        & .pulse {
            position: absolute;
            display: block;
            width: 22px;
            height: 22px;
            border-radius: 50%;
            background: $white;
            cursor: pointer;
            -webkit-box-shadow: 0 0 0 rgba(255, 82, 82, 0.7);
            box-shadow: 0 0 0 rgba(255, 82, 82, 0.7);
            -webkit-animation: pulse 3s infinite;
            animation: pulse 3s infinite;
            border: 2px solid  $primary;
            top: 84px;
            left: 0;
            @media #{$md} { 
                left: 130px;
            }
            &::after{
                position: absolute;
                top: 4px;
                left: 4px;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: $secondary;
                content: " ";
            }
            &:hover{
                -webkit-animation: none;
                animation: none;
            }
        }
        & img{
            margin-bottom: 55px;
        }
        & h2.tuku-speech{
            font-size: 20px;
            font-weight: 400;
            margin-bottom: 45px;
        }
        & .intro-text2{
            & p{
                margin-bottom: 30px;
            }
        }
    }
    & .intro-text{
        & h2.intro-title{
            font-size: 30px;
            margin-bottom: 25px;
        }
    }
}

@-webkit-keyframes pulse {
    0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
    }
}
@keyframes pulse {
    0% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
        box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
    }
}

/*--- Home page 3
------------------------*/
.intro-area-3{
    height: 878px;
    & .intro-text-area-3{
        & h2{
            color:$white;
            font-size: 50px;
            line-height: 70px;
            @media #{$lg} { 
                font-size: 40px;
            }
            @media #{$md} { 
                font-size: 30px;
                line-height: 50px;
            }
            @media #{$sm} { 
                font-size: 30px;
                line-height: 50px;
            }
            @media #{$xs} { 
                font-size: 30px;
                line-height: 50px;
            }
        }
        & .intro-social{
            & ul{
                & li{
                    display: inline-block;
                    color: $white;
                    margin: 30px 15px 35px 0;
                }
            }
        }
        & p{
            color: $white;
            margin-bottom: 50px;
        }
    }
}